[submodule "vendor/cucumber"]
	path = vendor/cucumber
	url = git://github.com/timcharper/cucumber.el.git
[submodule "vendor/inf-ruby-bond"]
	path = vendor/inf-ruby-bond
	url = http://github.com/pd/inf-ruby-bond.git
[submodule "vendor/rspec-mode"]
	path = vendor/rspec-mode
	url = git://github.com/timcharper/rspec-mode.git
[submodule "vendor/rvm"]
	path = vendor/rvm
	url = http://github.com/senny/rvm.el.git
[submodule "vendor/textmate"]
	path = vendor/textmate
	url = git://github.com/timcharper/textmate.el.git
[submodule "vendor/vimpulse"]
	path = vendor/vimpulse
	url = git://github.com/timcharper/vimpulse.git
[submodule "vendor/vimpulse-surround"]
	path = vendor/vimpulse-surround
	url = git://github.com/timcharper/vimpulse-surround.el.git
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "vendor/rails-minor-mode"]
	path = vendor/rails-minor-mode
	url = git://github.com/remvee/emacs-rails.git
[submodule "vendor/rhtml-minor-mode"]
	path = vendor/rhtml-minor-mode
	url = git://github.com/eschulte/rhtml.git
[submodule "vendor/ac-slime"]
	path = vendor/ac-slime
	url = https://github.com/purcell/ac-slime.git
[submodule "vendor/rsense"]
	path = vendor/rsense
	url = http://github.com/m2ym/rsense.git
[submodule "vendor/github"]
	path = vendor/github
	url = git://github.com/leadtune/github.el.git
